
h1 {
    color: purple;
}

#color {
    color: purple;
    font-weight: 700;

}

#blue {
      color: blue;
      font-weight: 700;
      font-size: large;
}

.border {
    border: 1px solid black;
}